aside{
    height: 100vh;
    width: 14%;
    background: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside h1{
    color:#fff;
}
aside #vdivisor{
    width: 100px;
    height: 1px;
    background: #fff;
    margin-top: 10%;
}
aside a{
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    color: #fff;
    margin-top: 20%;
}
aside a p{
    font-size: 15px;
}
aside .searchBar{
    height: 30px;
    background-color: #222222;
    border:1px  rgb(117, 117, 117) solid;
    border-radius:5px;
    margin-top: 15%;
}